
html, body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Adjust the opacity as needed
    z-index: 1; // Ensure the overlay is on top of the background image
}

//___________Main Header_____________//
.header {
    position: relative;
    z-index: 2; // Ensure the content is on top of the overlay
    color: white;
    text-align: center;
    padding: 20px;
}

//____Nav Bar____//
header{
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it is above other content */
    border-bottom: 1px solid #ccc; /* Optional: border for visibility */
}

.navbar-collapse {
    position: relative;
    right: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* building tools */
@import "~bootstrap";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
